* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(213, 213, 213);
    text-align: center;
}

.container {
    padding: 5px;
    width: 600px;
    margin: 30px auto;
    border: 1px solid rgb(255, 255, 255);
}

img.view {
    width: 100%;
}

.thumnail {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
    justify-content: space-between;
}

img.thum {
    width: 197px;
    cursor: pointer;
}

img.thum:hover {
    opacity: 50%;
}

