/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ........................................... */

body {
    padding: 60px;
    background-color: #EDEDED;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 30px;
}

.card {
    position: relative;
    width: 478px;
    height: 230px;
    padding: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 22px 27px -9px rgba(130, 119, 230, 0.29);
}

.button {
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: rgba(36, 0, 255, 0.06);
    margin-bottom: 20px;

    color: #5D4EDE;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
}

.p1 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 17px;
}

.p2 {
    color: #838383;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    margin-bottom: 35px;
}

.Learn {
    display: inline-flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid #5D4EDE;

    color: #5D4EDE;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
}

.close {
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 30px;
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: rgba(36, 0, 255, 0.06);

    color: #5D4EDE;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.close:hover {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 30px;
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: rgba(255, 0, 0, 0.06);

    color: #ff2c2caa;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}
